<header>
        
    <div class="jumbotron"  style="background-color:rgb(247, 245, 244)">
        <app-navbar></app-navbar>     
      <div class="container" >

        <a [routerLink]="['/']"><h1>NEW KICK</h1></a>   
        <h2>-The New Generation-</h2>

        <div class="container">
                <div class="col-lg-4" style="background-color:rgb(216, 216, 216); border: 1px solid rgb(97, 94, 94)" >
                    <h3>Total Backers</h3>
                    <span>4232</span>
                </div>
                
                <div  class="col-lg-4" style="background-color:rgb(216, 216, 216); border-top: 1px solid rgb(97, 94, 94); border-bottom: 1px solid rgb(97, 94, 94)">
                    <h3>Live Projects</h3>
                    <span>123</span>
                </div>
                <div  class="col-lg-4" style="background-color:rgb(216, 216, 216); border: 1px solid rgb(97, 94, 94)">
                    <h3>Funded Projects</h3>
                    <span>455</span>
                    
                </div>
              
                </div> 
         
    </div> 
</div>
</header>





