
    <div class="container">
        <h2> {{project.title}} </h2>
        <h3> {{project.subtitle}} </h3>
        <span class="project-creator-name">By:</span>
    <div class="con">
          <div class="col-lg-8">
              <img src="https://cdn.allwallpaper.in/wallpapers/1024x576/13059/movie-posters-the-incredible-hulk-1024x576-wallpaper.jpg" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-lg-4">
              
                <div class="us">
                   <span class="money-usd">US$</span>
                   <span class="money-goal">pledged of $ {{project.foundingGoal}} goal</span>
                </div>
                <div class="us">
                    <span class="backers-count"> {{project.backers}} </span>
                    <span class="backers">backers</span>
                </div>
                <div class="us" >
                    <span class="days-to-go-count"> {{project.foundingDuration}} </span>
                    <span class="days-to-go">days to go</span>
                </div>         
                <div class="back-project-button">
                <a class="btn btn-primary">Back this project</a>
                </div>
            
          </div>
         
          </div>
          
      </div>
      
      <div class="container">
          <hr>
            <div class="col-lg-12">
               <h3>about</h3>
               <p> {{project.about}} </p>
                               
            </div>
            
            
             
      </div>
   
  
  
    

      
      
      


